.git
.gitignore
.venv
.env
.pytest_cache
.ruff_cache
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
linkdooni.db
*.sqlite
*.sqlite3
.DS_Store
tests
.pre-commit-config.yaml
Dockerfile
.dockerignore
